# Ambiente virtual
.venv/
venv/
ENV/
env/

# Arquivos Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp


/frontend/release/
